@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --navbar-height: 12vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  min-height: var(--navbar-height);
}

section {
  height: calc(100vh - var(--navbar-height));
  scroll-margin-top: var(--navbar-height);
}